@model IEnumerable<UI.Models.ScheduleViewModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <table class="table table-bordered">
      <thead>
         <tr>
            <th>Name Techer</th>
            <th>Subject</th>
            <th>Start</th>
            <th>End</th>
            <th>Day</th>
         </tr>
      </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TeacherName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SubjectName)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.DayWeek)</td>
                    </tr>
                }
            </tbody>
    </table>
</div>

    <td>
        <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit")</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete")</button>
    </td>
 