@model IEnumerable<UI.Models.NewsViewModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
 {
    <div class="card-group">
        <div class="card">
            <img src="@Html.DisplayFor(modelItem => item.LinkImage)" class="card-img-top" width="250" height="250" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-text">  @Html.DisplayFor(modelItem => item.DatePost)</p>
            </div>
        </div>
    </div>

    <td>
        <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
    </td>
 }