@model IEnumerable<UI.Models.TeachersViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="card-group">
        <div class="card">
            <img src="@Html.DisplayFor(modelItem => item.ImageLink)" class="card-img-top" width="100" height="111" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FullName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        </div>
    </div>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
}
